<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BestPub - Registro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/global.css" />
</head>

<body class="vh-100 text-color">
    <form id="loginForm" class="d-flex items-center justify-content-center" style="margin-top: 2em;">
        <div class="card shadow-sm w-med p-5 background-modal" style="border-radius: 5%;">
            <div class="text-center mb-4">
                <img src="../assets/logo.png" draggable="false" alt="logo" class="img-fluid" style="max-width: 150px;">
            </div>
            <h1 class="text-center mb-4 h3">Cadastre-se</h1>
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" required type="text" name="email" class="form-control" autocomplete="off">
                <div class="container-error"></div>
            </div>
            <div class="form-group">
                <label for="name">Nome</label>
                <input id="name" required type="text" name="name" class="form-control" autocomplete="off">
                <div class="container-error"></div>
            </div>
            <div class="form-group date" data-date-format="dd/mm/yyyy">
                <label for="name">Data De Nascimento</label>
                <input type="date" class="form-control" placeholder="dd/mm/yyyy">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Senha</label>
                <input id="password" required type="password" name="password" class="form-control" autocomplete="off">
                <div class="container-error"></div>
            </div>
            <div class="form-group">
                <label for="checkPassword">Confirmar senha</label>
                <input id="checkPassword" required type="password" name="checkPassword" class="form-control"
                    autocomplete="off">
                <div class="container-error"></div>
            </div>
            <div class="text-center">
                <a href="login.html" class="mb-5 link-color">Já tenho uma conta.</a>
            </div>
            <div class="mt-2 text-center">
                <button id="registerBtn" type="submit" class="background-button global-button">Registrar</button>
            </div>
        </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/registro.js"></script>
    <script src="../js/Validify.js"></script>
</body>

</html>