body{
    margin: 0px;
    padding: 0px;
}
.cadastro{
    font-weight: bolder;
    padding-top: 3%;
}
div.user-info {
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
ul{
    list-style-type: none;
    padding-left: 0%;
}
h1{
    font-family: Arial, Helvetica, sans-serif   ;
    font-weight: 200;
    font-size: 350%;
}

h2{
    margin-left: 3%;
}
footer{
    left:0px;
    bottom:0px;
    height:6%;
    width: 100%;
    background:#999;
 }
 .item{
     padding-top: 3%;
     padding-left: 0px;
 }
 .doacao{
    position: fixed;
    background-color: lightblue;
    border-radius: 5px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
 }
 


