body{
  .navbar {
      background-color: #38b6ff;
      border-radius: 3px;
  }

.accordion{
  border-left: 10px;
}

  #map {
      height: 400px;
      width: 100%;
      border-radius: 10px;

  }

}    
