/* Desktop Resolution */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    background-color: #ece2d4;
}

body{
    background-color: #ece2d4;
}
nav {
    padding: 1em;
    background-color: #ece2d4;
}

nav a {
    margin-top: 10em;
    margin-left: 2em;
    color: #AD3C6E;
}

main {
    background-color: #ece2d4;
}

.subtitles {
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #AD3C6E;
}

h1 {
    text-align: center;
}

h1 span {
    color: #fff;
    border-radius: 8px;
    padding: 10px 10px;
    background-color: #AD3C6E;
}

section {
    margin-top: 2em;
    margin-bottom: 2em;
}

main {
    background-color: #ece2d4;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    padding-top: 3%;
}

/* Carousel */
.bar-imagens img{
    height: 500px;
}

/* Seções */
.cardapio p {
    text-align: center;
}

#div-pub-details {
    width: 80%;
}

#div-pub-img {
    padding: 10px;
    max-width: 600px;
}

#div-pub-img>img {
    max-width: 100%;
    height: 460px;
}

#div-pub-details-infos {
    width: 100%;
    padding-left: 30px;
}

#div-pub-name-share {
    display: flex;
    justify-content: space-between;
}

#p-pub-name {
    font-size: 40px;
}

.div-item-star {
    display: flex;
    align-items: center;
    height: 40px;
}

#p-pub-details-star-text {
    font-size: 24px;
    margin-top: 16px;
    margin-left: 10px;
}

#p-pub-value {
    font-size: 32px;
    margin-top: 12px;
}

#p-pub-address {
    font-size: 32px;
}

#p-pub-type-food {
    font-size: 30px;
}

#p-pub-difference-title {
    font-size: 32px;
}

.div-pub-diferrence-row {
    display: flex;
    justify-content: space-between;
}

.p-pub-difference {
    font-size: 26px;
}

#div-pub-comments {
    width: 79%;
}

#p-pub-comments-title {
    font-size: 32px;
}

#div-pub-comments-send {
    border-radius: 8px;
    background-color: #DC9CB8;
}

#p-pub-comments-send {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 4px;
}

#div-pub-comments-send-button {
    display: flex;
    justify-content: end;
}

#button-pub-comments-send {
    margin: 12px;
    padding: 2px 3%;
    border-style: none;
    border-radius: 4px;
}

.div-pub-comments-users {
    margin-top: 16px;
    padding: 8px;
    border-radius: 8px;
    background-color: #DC9CB8;
}

.div-pub-comments-user {
    display: flex;
    align-items: center;
    min-height: 100%;
    padding-right: 20px;
}

.img-pub-comments-user {
    margin-left: 6px;
    margin-right: 10px;
    max-height: 40px;
    border-radius: 100%;
}

.p-pub-comments-users {
    font-size: 20px;
    margin-left: 8px;
    margin-top: 4px;
}

iframe {
    margin-top: 20px;
}
