* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sizes (Tamanhos) */
.w-med {
    width: 40vw;
}

/* Componentes estilizados */
.global-button {
    padding: .8em 3em;
    border: 0;
    border-radius: 10px;
}

/* Cores e backgrounds */
.background {
    background-color: #ece2d4;
}

.background-modal {
    background-color: #AD3C6E;
}

.text-color {
    color: #ffffff;
}

.input-color {
    color: #000000;
}

.link-color {
    color: #ffffff;
}

.link-color:hover {
    color: #DC9CB8;
}

.background-button-2 {
    color: #FFFFFF;
    background-color: #AD3C6E;
    border: 2px solid #AD3C6E;
}

.background-button-2:hover {
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #000000;
}

.background-button {
    background-color: #FFFFFF;
}

.background-button:hover {
    background-color: #DC9CB8;
    color: #FFFFFF;
}

.input-comentario {
    border: none;
    border-bottom: 3px solid #AD3C6E;
}
.float-button {
    position: fixed;
    background-color: #AD3C6E;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }

